.liveChat {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 24px;
    bottom: 85px;
    width: 230px;
    height: 310px;
    background: var(--primary-bg);
    border-radius: 10px;
    box-shadow: var(--box-shadow-chat);
}

.liveChatHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    background: #29B4AD;
    border-radius: 10px;
    padding: 0 7px 0 7px;
    gap: 15px;
}

.liveChatHeaderMainText {
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
}

.liveChatHeaderText {
    margin: 0;
    color: rgba(255, 255, 255, 0.50);
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
}

.liveChatContent {
    width: 100%;
    height: 220px;
    position: relative;
}

.liveChat1 {
    position: absolute;
    top: 5px;
    left: 100px;
    color: var(--gray-text-color);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.liveChat2 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    background-image: var(--live-chat-img1);
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.liveChatInputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    border: 2px solid #e1e1e1;
    border-radius: 10px;
}

::-webkit-input-placeholder {
    background: var(--primary-bg);
}

.liveChatInput{
    margin: 0;
    border: 0;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    outline:none;
    padding: 0 5px 0 5px;
    background: transparent;
}

.liveChatImg {
    width: 23px;
    height: 23px;
}

.liveChatImgs {
    display: flex;
    align-items: center;
}

.liveChatImg1 {
    width: 23px;
    height: 23px;
    background-image: var(--live-chat-img2);
    background-size: contain;
}

.liveChatImg2 {
    width: 23px;
    height: 23px;
    background-image: var(--live-chat-img3);
    background-size: contain;
}

@media (max-width: 900px) {
    .liveChatHeaderMainText {
        font-size: 12px;

    }
    .liveChatHeaderText {
        font-size: 8px;
    }

}

