.contactsContainer {
    width: 100%;
    height: 737px;
    background: #3D948C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactsMainTitle{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
    margin: 30px;
}

.contactsTitle{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    margin: 0 0 40px 0;
}

.contactsInput {
    width: 433px;
    height: 55px;
    border-radius: 27px;
    background: #41A297;
    border: 0;
    color: #FFF;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 20px;
    outline: none;
    padding: 0 15px 0 15px;
}

.contactsContainer ::-webkit-input-placeholder {
    color: white;
    background: #41A297 !important
}

.textarea {
    border-radius: 27px;
    background: #41A297;
    width: 433px;
    height: 181px;
    color: #FFF;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    outline: none;
    padding: 15px 15px 0 15px;
}

.buttonContacts {
    width: 205px;
    height: 55px;
    border-radius: 27px;
    border: 3px solid #FFF;
    margin: 57px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    background: #3D948C;
    cursor: pointer;
}

@media (max-width: 800px) {
    .contactsContainer {
        height: auto;
    }
    .contactsMainTitle {
        font-size: 35px;
    }
    .contactsTitle {
        font-size: 14px;
    }
    .contactsInput {
        width: 230px;
        height: 45px;
    }
    .textarea {
        width: 230px;
        height: 98px;
    }
    .buttonContacts {
        width: 140px;
        height: 40px;
        border-radius: 27px;
        border: 3px solid #FFF;
        margin: 37px;
        font-size: 15px;
    }
}
