.designLearningContainer {
    width: 100%;
    height: 450px;
    background-image: url("../assets/bgMan.png");
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.designLearning {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 40px;
}

.designLearningBigText {
    color: #424242;
    font-size: 75px;
    font-weight: 600;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
}

.designLearningText {
    color: #424242;
    font-size: 35px;
    font-weight: 250;
    line-height: 100%;
    text-transform: capitalize;
    margin: 15px 0 65px 0;
}

.designLearningButton {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    background: #3D948C;
    border: 0 solid #3D948C;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    margin: 5px;
    cursor: pointer;
}

.imgMan {
    width: 259px;
    height: 426px;
}

@media (max-width: 900px) {
    .imgMan {
        display: none;
    }
    .designLearningBigText {
        font-size: 40px;
    }
    .designLearningText {
        font-size: 20px;
        margin: 15px 0 35px 0;
    }
    .designLearningContainer {
        justify-content: flex-start;
        padding-left: 25px;
        height: auto;
        padding-bottom: 25px;
        gap: 20px;
    }
    .designLearningButton {
        width: 140px;
        height: 40px;
        font-size: 16px;
    }
}
