.instructionalDesign {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.instructionalDesignElement {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.instructionalDesignInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 540px;
    color: var(--text-color);
}

.instructionalDesignItem {
    display: flex;
    align-items: center;
    gap: 15px;
}

.instructionalDesignDesc {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
}

.instructionalDesignMainTitle {
    color: #999B9A;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: normal;
}

.instructionalDesignTitle {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
}

.imgInDsn {
    width: 392px;
    height: 392px;
}

.checkIcon {
    width: 26px;
    height: 16px;
}

@media (max-width: 900px) {
    .instructionalDesign {
        gap: 5px;
        padding-bottom: 15px;
    }
    .instructionalDesignElement {
        margin: 0;
        padding-left: 25px;
        padding-right: 15px;
        gap: 5px;
        justify-content: flex-start;
    }
    .instructionalDesignInfo {
        width: auto;
    }
    .instructionalDesignItem p {
        font-size: 12px;
    }
    .instructionalDesignDesc {
        font-size: 14px;
        margin: 0;
    }
    .instructionalDesignMainTitle {
        font-size: 35px;
        margin: 10px;
    }
    .instructionalDesignTitle {
        font-size: 20px;
        margin-bottom: 9px;
    }
    .imgInDsn {
        display: none;
    }
}
