.services {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.servicesContainer {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: flex-start;
}

.servicesMainTitle {
    color: #999B9A;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding-bottom: 25px;
}

.servicesList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicesTitle {
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    width: 130px;
    padding-top: 15px;
}

.servicesDesc {
    color: var(--text-color);
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    width: 180px;
}

.srvImg {
    width: 85px;
    height: 85px;
}

@media (max-width: 900px) {
    .services {
        padding-bottom: 10px;
    }
    .servicesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        padding-right: 15px;
        padding-left: 15px;
        width: auto;
    }
    .srvImg {
        width: 50px;
        height: 50px;
    }
    .servicesMainTitle {
        font-size: 35px;
        margin-top: 10px;
    }
    .servicesTitle {
        font-size: 12px;
        width: auto;
    }
    .servicesDesc {
        font-size: 10px;
        width: auto;
    }
}
