:root {
    --primary-bg: white;
    --text-color: #212121;
    --gray-text-color: rgba(56, 56, 56, 0.45);
    --live-chat-img1: url('./assets/liveChat6.png');
    --live-chat-img2: url('./assets/liveChat4.png');
    --live-chat-img3: url('./assets/liveChat5.png');
    --box-shadow-chat: 0px 3.8181819915771484px 15.272727966308594px 0px rgba(52, 52, 52, 0.10);
}

.app {
    position: relative;
    background: var(--primary-bg);
}

.darkTheme {
    --primary-bg: #343434;
    --text-color: #FFF;
    --gray-text-color: rgba(255, 255, 255, 0.45);
    --live-chat-img1: url('./assets/liveChat3.png');
    --live-chat-img2: url('./assets/liveChat1.png');
    --live-chat-img3: url('./assets/liveChat2.png');
    --box-shadow-chat: 0px 3.8181819915771484px 15.272727966308594px 0px rgba(239, 227, 227, 0.1);
}

.appServicesContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: 800px) {
    .appServicesContainer {
        gap: 0px;
    }
}

